#jeden
{
    background-color: rgb(102, 0, 51);
    color: #ccffcc;
    text-align: center;
    border-radius: 20px 20px 0px 20px;
}
#dwa
{
    background-color: rgb(102, 0, 51);
    color: #ccffcc;
    text-align: center;
    border-radius: 20px 0px 0px 20px;
}
#trzy
{
    background-color: rgb(102, 0, 51);
    color: #ccffcc;
    text-align: center;
    border-radius: 20px 20px 20px 20px;
}
