body
{
    background-color: navy;
}
h1,h2,h3
{
    color:#f00;
    font-family: Verdana;
}
#b1,#b2,#b3
{
background-color: #0ff;
font-family: 'Segoe UI';
border: 5px #0f0 solid;
width: 900px;
}
#b1
{
font-size: 14pt;
padding: 10px;
border-top: 5px #ff0 solid;
border-bottom: 5px #ff0 solid;
}
#b2
{
    font-size: 12pt;
    padding: 15px;
    border-top: 10px #ff0 solid;
    border-bottom: 10px #ff0 solid;
}
#b3
{
    font-size: 10pt;
    padding: 20px;
    border: 20px #ff0 solid;
}